In [62]:
import requests

url = 'https://www.yonsei.ac.kr/sc/support/calendar.jsp'
res = requests.get(url)

print(res) # 응답 객체
html = res.text # HTML 텍스트

<Response [200]>

In [63]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')

In [139]:
months = ['02 FEB','02 FEB','02 FEB','02 FEB','02 FEB','02 FEB','03 MAR','03 MAR','03 MAR','03 MAR','03 MAR','03 MAR','04 APR','04 APR','04 APR','04 APR','04 APR','04 APR','04 APR','05 MAY','05 MAY','05 MAY','05 MAY','05 MAY','05 MAY','05 MAY','05 MAY','06 JUN','06 JUN','06 JUN','06 JUN','06 JUN','06 JUN','06 JUN','06 JUN','06 JUN','07 JUL','08 AUG','08 AUG','08 AUG','08 AUG','08 AUG']

In [136]:
events = []
days = []
num = 0
for link in soup.find_all('td'):
    if num % 2 == 0:
        day = link.text.strip()
        days.append(day)
    else:
        event = link.text.strip()
        events.append(event)
    num += 1

In [140]:
import pandas as pd
data = {
    '달': months,
    '날짜': days,
    '일정': events
}

df = pd.DataFrame(data)
df.style.hide_index()

/var/folders/bz/v_kxy24n1j5_bbycr1kyq4xh0000gn/T/ipykernel_36706/917852673.py:9: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  df.style.hide_index()

In [141]:
import selenium
from selenium import webdriver

driver = webdriver.Chrome()

In [142]:
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

# 해당 URL로 이동
driver.get('https://www.naver.com/') 

# 웹 페이지 요소 로드를 기다림
driver.implicitly_wait(5)

In [143]:
# XPATH를 이용하여 검색창에 해당하는 요소 찾기
search = driver.find_element(By.XPATH, '//*[@id="query"]')

In [144]:
# 검색어 입력
search.send_keys('고려대학교')

In [145]:
# Keys.RETURN = Enter 입력
search.send_keys(Keys.RETURN)

In [146]:
img = driver.find_element(By.XPATH, '//*[@id="main_pack"]/div[2]/div[2]/div[1]/div/div[2]/a/img')
img_url = img.get_attribute('src')

In [147]:
print(img_url)

https://search.pstatic.net/common?type=f&size=174x174&quality=100&direct=true&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20150831_102%2F1441001184354BvGxq_JPEG%2F11591498_0.jpg